<footer class="footer_vinehall">
  <a class="subscribe_vinehall icon-rss" target="_blank" href="{{@blog.url}}/rss/">
    <span class="hidethis_vinehall">Subscribe</span>
  </a>
  <div class="footertext_vinehall">
    All content copyright <a href="/">{{@blog.title}}</a> &copy; 2015 &bull; All rights reserved.
  </div>
  <div class="footertext_vinehall">
    Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>
  </div>
</footer>
